#navigation
alias ll="ls -l -a"


#Protection from myself
alias rm="rm -i"
alias rmd="rm -rf -i"
alias mv="mv -i"


# PROGRAM COMMANDS
#Git commands
alias gitco="git checkout"
alias gitst='git status'
alias gitcom='git commit'
alias gitcommitcount='git rev-list HEAD --count'

alias vigitig='vi ./.gitignore'


#Searching
alias grep='grep -i'
alias grepdp='grep -i -r'


#Processes
alias kill='taskkill /F /PID'


